@import './reset.scss';

html,
body,
p,
ul {
  margin: 0;
  padding: 0;
}

//容器布局 el-header el-main
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}

.main {
  margin-top: 120px;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: rgb(0, 132, 255);
  }
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

//模块公共样式
.module-title {
  margin: 0;
  padding-left: 15px;
}