@import './reset.scss';

html,
body,
p,
ul {
  margin: 0;
  padding: 0;
}

//容器布局 el-header el-main
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}

.main {
  margin-top: 120px;
}

//模块公共样式
.module-title {
  margin: 0;
  padding-left: 15px;
}

.module-content {
  .layout-left:not(.vital-left) {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .dept-check {
      min-height: 34px;
    }
  }

  >.el-row {
    display: flex;
    border-top: 1px solid #ddd;
  }

  .module-content-list {
    height: 100%;

    .el-col {
      border-left: 1px solid #ddd;
      height: inherit;
      // min-height: 28px;
    }
  }

  .module-content-list.nullData {
    overflow: hidden;
  }

  .module-content-line {
    height: 100%;
    border-left: 1px solid #ddd;
  }
}

.dept-check-item {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
}

// 闭环模态框
.loop-modal .el-dialog__body {
  overflow: auto;
}

.el-popup-parent--hidden .el-header {
  padding-right: 35px;
}

// 过滤区
.filter-area {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 150px;
  display: flex;
  align-items: center;

  .filter {
    margin-left: 10px;
    padding: 3px 8px;
  }

  .show-effect-filter {
    margin: 0 10px;
    width: 300px;
    white-space: nowrap;
    text-align: left;
    overflow-x: auto;

    .fil-item {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      border-radius: 3px;
      margin-left: 3px;

      .fa {
        cursor: pointer;
        margin-left: 3px;

        &:hover {
          color: #409eff;
        }
      }
    }
  }
}

.el-collapse-item__header,
.filter-area {
  height: 36px;
}

.el-empty {
  padding: 0;

  .el-empty__image {
    width: 50px;
  }

  .el-empty__description {
    margin-top: 0px;
  }
}

// 提示框 - 标签
.detail_in_label {
  position: absolute;
  font-size: 16px;
  // top: 44px;
  left: 0px;
  padding: 2px 8px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 33;
  white-space: nowrap;
}
.detail_in_label.top {
  top: -30px;
}
.detail_in_label.right {
  left: unset;
  right: 0;
}

// 提示框 - 甘特图
.detail_show {
  position: absolute;
  top: 30px;
  left: 0;
  // height: 28px;
  line-height: 26px;
  z-index: 30;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-weight: normal;
  .borderOut {
    display: inline-block;
    border: 1px solid black;
    padding: 0 5px;
    border-radius: 3px;
    // height: 26px;
    background-color: white;
    .content {
      font-size: 16px;
    }
    .title {
      font-size: 18px;
    }
  }
  .time {
    opacity: 0;
  }
}
.detail_show.right {
  left: unset;
  right: 0;
}