@import './reset.scss';

html,
body,
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Microsoft YaHei', '宋体', Arial;
}

//容器布局 el-header el-main
.header {
  position: fixed;
  z-index: 99;
  width: calc(100% - 15px);
  background-color: #fff;
}

.main {
  margin-top: 110px;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: rgb(0, 132, 255);
  }
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

//模块公共样式
.module-title {
  margin: 0;
  padding-left: 15px;
}

.module-content {
  & > .el-row {
    display: flex;
    border-top: 1px solid #ddd;
  }
  .layout-left:not(.vital-left) {
    min-height: 28px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .dept-check {
      min-height: 34px;
    }
  }

  .module-content-list {
    height: 100%;

    .el-col {
      border-left: 1px solid #ddd;
      height: inherit;
      min-height: 28px;
      max-height: 240px;
      overflow: hidden;
    }
  }
}

.dept-check-item {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.bg-highlight {
  background-color: red;
}

.tl-icon {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 18px;
  height: 20px;
  line-height: 15px;
  margin-left: 5px;
  background-color: #999;
  color: white;
  padding: 1px;
  font-size: 10px;
  border: 2px solid blue;
  cursor: pointer;
}

#patient_view-footer {
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  user-select: none;
}