/* 
 *  重置element-ui样式
 */
//栅格响应式重写
@media only screen and (min-width: 768px) {
  .el-col-sm-3 {
    width: 14.28%;
  }
}
@media only screen and (max-width: 767px) {
  .el-col-xs-3 {
    width: 14.28%;
  }
}

.module-content-list.el-row {
  display: flex;

  > div {
    flex: 1;
  }
}
.tl-list > .el-row {
  display: flex;
  > div {
    flex: 1;
  }
}

ul {
  list-style: none;
}