/* 
 *  重置element-ui样式
 */
//栅格响应式重写
@media only screen and (min-width: 768px) {
  .el-col-sm-3 {
    width: 14.28%;
  }
}
@media only screen and (max-width: 767px) {
  .el-col-xs-3 {
    width: 14.28%;
  }
}

// dialog 遮罩屏蔽显示
.v-modal {
  display: none;
}

.module-content-list.el-row {
  display: flex;

  > div {
    flex: 1;
  }
}
.tl-list > .el-row {
  display: flex;
  > div {
    flex: 1;
  }
}

ul {
  list-style: none;
}

.el-collapse-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.el-collapse-item__header {
  background-color: #f9f9f9;
}
.el-collapse-item__content {
  padding-bottom: 0;
  text-align: center;
}